body {
    background-color: lightgray;
}

// adjust page title
h3.page-title {
    font-size: 1.7rem !important;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 2rem;
}

// Add star to required form field labels
label.required:before {
    content: "*";
}

// set fixed size for language icon
i.fa-language {
    font-size: 1.4rem !important;
}

// vertical align for all Datatables
table.dataTable tbody td {
    vertical-align: middle;
}

// set table column to minimum width
td.min {
    width: 1px;
    white-space: nowrap;
}

// always use nowrap for table column headers
table.dataTable th {
    white-space: nowrap;
}