{% if is_granted('ROLE_USER') %}
    {% if navbarNotifications is defined %}
        {% set total = 0 %}
        {% for notificationGroups in navbarNotifications %}
            {% for category,notifications in notificationGroups %}
                {% set total = total + notifications|length %}
            {% endfor %}
        {% endfor %}

        {% if total > 0 %}
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">{{ total }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    {% for notificationGroups in navbarNotifications %}
                        {% for category,notifications in notificationGroups %}
                            {{ include('_notification_general.html.twig', {'category': category, 'notifications': notifications}) }}
                        {% endfor %}
                    {% endfor %}
                </div>
            </li>
        {% endif %}
    {% endif %}
{% endif %}