{% block sidebar_user %}
    {% if is_granted('ROLE_USER') %}
        {{ render(controller(
            'App\\Controller\\HouseholdController::switch'
        )) }}
    {% endif %}
{% endblock sidebar_user %}

<li class="nav-header">HOUSEKEEPING BOOK</li>

<li class="nav-item">
    <a href="{{ path('housekeepingbook_booking_index') }}" class="nav-link">
        <i class="nav-icon fas fa-money-check-alt"></i> Dynamic bookings
    </a>
</li>

<li class="nav-header font-weight-bold">SETTINGS</li>
<li class="nav-header">HOUSEKEEPING BOOK</li>
<li class="nav-item">
    <a href="{{ path('housekeepingbook_accountholder_index') }}" class="nav-link ">
        <i class="nav-icon fas fa-handshake"></i> Account holders
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('housekeepingbook_bookingcategory_index') }}" class="nav-link ">
        <i class="nav-icon fas fa-handshake"></i> Booking categories
    </a>
</li>