{% extends 'theme/base.html.twig' %}

{% block page_header %}Welcome to OhMyHousehold!{% endblock page_header %}

{% block page_content %}
        <div class="row">
            <div class="col-lg-12">
                <p>With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
{% endblock %}
