{% extends 'theme/base.html.twig' %}

{% block body_tag %}
    {% if app.user %}
        {{ parent() }}
    {% else %}
        <body class="hold-transition text-sm sidebar-collapse">
    {% endif %}
{% endblock body_tag %}

{% block page_header %}{{ 'app.welcome-to'|trans }} {{ siteName }}{% endblock page_header %}

{% block page_content %}
        <div class="row">
            tdb.
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
{% endblock %}
