<div class="row">
    <div class="col-lg-12 household-switcher">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_errors(form.household) }}
            {{ form_widget(form.household) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
<!-- /.row -->