{% extends 'theme/base.html.twig' %}

{% block page_header_buttons %}
    <a href="{{ path('app_user_settings') }}" class="btn btn-outline-primary btn-sm btn-icon-split">
        <span class="icon mr-1">
          <i class="fas fa-arrow-circle-left"></i>
        </span>
        <span class="text">{{ 'app.back-to-user-settings'|trans }}</span>
    </a>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-4">
            {% include 'household/_details.html.twig' %}
        </div>
    </div>
    <!-- /.row -->
{% endblock %}